@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: 200;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  margin-left: 0;
}

/************* Navbar *************/

#nav {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  border: 0;
  margin-bottom: 0;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  height: 100%;
}

#nav a {
  font-size: 1.3em;
}

#nav a:hover {
  color: #ED5D39;
}

#nav .dropdown-menu li {
  padding: 0;
}
#nav .dropdown-menu li a {
  padding: 15px 40px 15px 40px;
}



/************* Slider *************/

.slider-section {
  width: 100%;
  padding: 0;
  height: 600px;
}
.slider-section .slider {
  width: 100%;
  padding: 0;
}
.slider-section .owl-carousel .owl-item {
  height: 600px;
  width: 100%;
  position: relative;
}
.owl-prev, .owl-next {
  margin: 0;
  display: inline-block;
  position: absolute;
  top: -85px;
  color: #E0E0E0;
}
.owl-prev:hover, .owl-next:hover {
  color: black;
}
.owl-prev {
  left: 25px;
}
.owl-next {
  right: 25px;
}
.slider .owl-prev, .slider .owl-next {
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 250px;
  color: white;
}
.slider .owl-prev:hover, .slider .owl-next:hover {
  color: #ED5D39;
}
.slider .owl-prev {
  left: 50px;
}
.slider .owl-next {
  right: 50px;
}
.slider-container {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
}

/************* Sections *************/

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.action-section {
  background-color: #ED5D39;
  color: white;
}
.workflow li {
  height: 170px;
}
.workflow h2 {
  font-size: 1.2em;
  font-weight: 200;
}
.workflow img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
